*{
    margin: 0;
    padding: 0;
}

body{
    background: #111;
}

.title-head{
    padding: 1% 5%;
    background: url(../assets/imgs/about-img.jpg) 100%;
    background-size: cover;
    color: #fff; 
    min-height: 100vh;
}

.fix{
    position: fixed;
    padding: 0 10%;
    background: rgba(0, 0, 0, 0.562);
    left: 0;
    z-index: 1;
}

.navigation{
    filter: invert();
   
}

.navbar-nav{
    text-align: center;
}

.brand-logo{
    font-size: 2.2rem;
    color: #fff;
    font-weight: 700;
}

/* .nav-it{
    float: right;
} */

.links{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
}

.title-cont{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

.title{
    font-size: 5rem;
    margin: 4% 0;
}

.about-tw{
    padding: 10% 15%;
    color: #fff;
}

.about-tw h3{
    font-size: 2.2rem;
}

.about-tw p{
    font-size: 1.2rem;
}

.display{
    padding: 10% 5%; 
    color: #fff;
    margin: auto;
    min-height: 100vh;
    margin: auto 0;
}

.cont-bx{
    padding: 2% 4%;
}

.dis-imgbx{
    padding: 1%;
    margin-top: auto;
}

.dis-img{
    width: 100%;
    text-align: center;
}

.text-p{
    font-size: 1.2rem;
}

.dis-btn{
    margin-bottom: 3%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #333; */
}

.footer .sci{
    position: relative;
    display: flex;
}

.footer .sci li{
    list-style: none;
}

.footer .sci li a{
    text-decoration: none;
    margin: 0 20px;
}

.footer .sci li a i{
    padding: 1.4rem 0;
    max-width: 40px;
    font-size: 30px;
    color: #fff;
}

.footer .sci li a i:hover{
    color: #111;
}

.copyrights{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #665;
    text-align: center;
}

.copyrights a{
    color: #fff;
    text-decoration: none;

}