*{
    margin: 0;
    padding: 0;
}

body{
    background: #111;
}

.title-head{
    padding: 1% 5%;
    background: url(../assets/imgs/contact.jpg) 100%;
    background-size: cover;
    color: #fff; 
    min-height: 100vh;
}

.fix{
    position: fixed;
    padding: 0 10%;
    background: rgba(0, 0, 0, 0.562);
    left: 0;
    z-index: 1;
}

.navigation{
    filter: invert();
   
}

.navbar-nav{
    text-align: center;
}

.brand-logo{
    font-size: 2.2rem;
    color: #fff;
    font-weight: 700;
}

/* .nav-it{
    float: right;
} */

.links{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
}

.title-cont{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

.title{
    font-size: 5rem;
    margin: 4% 0;
}

.conct{
    padding: 5% 10%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conct h3{
    font-size: 3rem;
    /* text-align: center; */
    margin: 20px;
}

.conct form{
   /* margin-left: 50px; */
   padding: 1%;
}

.conct input{
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    padding-right: 100px;
}

.conct textarea{
    padding: 10px 30px;
    height: 150px;
    margin: 10px;
    padding-right: 50px;
    border-radius: 5px;
    resize: vertical;
}

.conct .btn{
    background: #fff;
    padding: 10px 30px;
    text-align: center;
    margin-left: 27px;
}

.info{
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}

.info .infos{
    margin: 10px auto;
}

.letter{
    padding: 10% 25%;
    text-align: center;
    color: #fff;
    min-width: 60vh;
}

.letter input{
    display: block;
    padding: 10px 20px;
    margin: 2% auto;  
    border-radius: 7px;
   
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #333; */
}

.footer .sci{
    position: relative;
    display: flex;
}

.footer .sci li{
    list-style: none;
}

.footer .sci li a{
    text-decoration: none;
    margin: 0 20px;
}

.footer .sci li a i{
    padding: 1.4rem 0;
    max-width: 40px;
    font-size: 30px;
    color: #fff;
}

.footer .sci li a i:hover{
    color: #111;
}

.copyrights{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #665;
    text-align: center;
}

.copyrights a{
    color: #fff;
    text-decoration: none;

}